.footer {
    min-height: 82px;
    background: $whiteSmoke;
    margin-top: 122px;
    display: flex;
    align-items: center;
}

.footer__list {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    flex-wrap: wrap;
    padding-left: 242px;
}

.footer__link {
    text-decoration: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $mediumGray;
    white-space: nowrap;
}

.footer__item {
    padding-left: 68px;
}
