.header {
    background-color: $whiteSmoke;
}

.header__block {
    max-width: 1169px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 84px;
    padding-left: 11px;
    padding-right: 20px;
    justify-content: space-between;
}

.header__conteiner {
    max-width: 600px;
    padding-left: 6px;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.header__logo {
    padding-top: 14px;
}

.header__link {
    color: $mediumGray;
    text-decoration: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left: 68px;
}
