.header {
    height: 84px;
    background-color: #F5F5F9;
}

.header__block {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 84px;
}

.header__conteiner {
    width: 600px;
}

.header__list{
    flex-grow: 1;
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-top: 14px;
}

.header__link {
    color: $mediumGray;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

