.openpopup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(88, 87, 87, 0.6);
}

.main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
}

.main__conteiner {
    display: flex;
}

.conteiner__photo {
    position: relative;
    margin-top: 16px;
    height: 375px;
}

.conteiner__photo-text {
    width: 122px;
    display: flex;
    height: 30px;
    align-items: center;
    background-color: $red;
    justify-content: center;
    top: 0px;
    position: absolute;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: white;
}

.conteiner__slider {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 37px;
    align-items: center;
}

.slider__button {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    border: 1px solid $grey;
    background: white;
    position: relative;
}

.slider__button-activeLeft::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 13px;
    top: 18px;
    left: 15px;
    background-image: url('../../img/arrowActive.png');
    transform: rotate(180deg);
}

.slider__button-inactiveLeft::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 13px;
    top: 18px;
    left: 15px;
    background-image: url('../../img/arrowNoActive.svg');
    transform: rotate(180deg);
}

.slider__button-activeRight::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 13px;
    top: 18px;
    left: 15px;
    background-image: url('../../img/arrowActive.png');
}

.slider__button-inactiveRight::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 13px;
    top: 18px;
    left: 15px;
    background-image: url('../../img/arrowNoActive.svg');
}

.container__info {
    margin-left: 57px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.info__name {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: $mediumGray;
    margin: 0;
}

.info__list {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    margin-top: 21px;
    width: 285px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__icon-size {
    width: 40px;
    height: 40px;
}

.info__text {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $mediumGray;
}

.info__prise {
    margin-top: 36px;
}

.info__prise-new {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: $mediumGray;
}

.info__prise-old {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #A3A4A6;
    position: relative;
    margin-left: 30px;
}

.info__prise-old::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    border-top: 1px solid #A3A4A6;
    width: 92px;
    height: 0px;
    transform: rotate(176deg);
}

.info__buy {
    width: 196px;
    height: 52px;
    background: $red;
    border: none;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: white;
    margin-top: 38px;
}

.info__credit {
    border: 1px solid $red;
    box-sizing: border-box;
    background-color: white;
    width: 222px;
    height: 52px;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $red;
    margin-top: 16px;
}


.main__button {
    margin-top: 90px;
    margin-left: 6px;
}

.button-selected, .button-notselected {
    width: 195px;
    height: 50px;
}

.button-selected {
    border: none;
    background-color: $red;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: white;
}

.button-notselected {
    border: 1px solid $grey;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $mediumGray;
    background-color: white;
}

.button-notselected:hover, .button-notselected:focus {
    background-color: $redDark;
    color: white;
}

.main__fullinfo {
    padding-left: 0px;
    margin-left: 6px;
    list-style-type: none;
    max-width: 565px;
    display: flex;
    flex-direction: column;
}

.fullinfo__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    height: 50px;
}

.fullinfo__text {
    margin-top: 24px;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $mediumGray;
}

.main__reviews {
    position: relative;
}

.main__reviews-button {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 189px;
    height: 52px;
    border: 1px solid $red;
    background-color: white;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $red;
}

.review__conteiner {
    padding-top: 30px;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
}

.review__conteiner-name {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: $mediumGray;
}

.review__conteiner-dignity, .review__conteiner-limitation {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
}

.dignity-title, .limitation-title, .review__conteiner-title {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.review__conteiner-title {
    margin-top: 15px;
}

.dignity-text, .limitation-text, .review__conteiner-text {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.appraisal-text {
    margin-left: 20px;
}

.appraisal-text, .answer-text {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $red;
    padding-top: 5px;
}

.answer-time {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.4;
}

.review__conteiner-appraisal {
    margin-top: 26px;
    display: flex;
}

.review__conteiner-answer {
    margin-top: 24px;
}

.answer-text {
    margin-left: 28px;
    border: none;
    background: white;
}

.review__conteiner {
    padding-bottom: 24px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.appraisal__stars {
    position: relative;
    width: 103px;
    height: 17px;
    margin-top: 8px;
}

.appraisal__stars::before {
    content: '';
    background-image: url('../../img/stars.svg');
    display: block;
    height: 100%;
}

.appraisal__redStars {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.appraisal__redStars::before {
    content: "";
    display: block;
    height: 100%;
    background-image: url('../../img/redStars.svg')
}

.info__buy:hover, .info__buy:focus, .popup__button:hover, .popup__button:focus {
    background-color: $redDark;
}

.info__credit:hover, .info__credit:focus, .main__reviews-button:hover, .main__reviews-button:focus {
    background-color: $red;
    color: white;
}

.map {
    border: 0;
    margin-left: 74px;
}

.section__contacts {
    display: flex;
    margin-left: 6px;
    margin-top: 30px;
}

.contact__block {
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 274px;
}

.contact__container {
    display: flex;
    flex-direction: column;
}

.contact__title {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1A212F;
}

.contact__text {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.contact__text-top {
    margin-top: 0px;
}

.review__popup {
    width: 698px;
    height: 415px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: $whiteSmoke;
}

.review__popup-disabled {
    display: none;
}

.popup__block {
    display: flex;
    width: 628px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.popup__conteiner {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 182px;
    justify-content: space-between;
}

.popup__name {
    text-align: center;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $mediumGray;
    margin-top: 30px;
    margin-bottom: 37px;
}

.popup__block-rating {
    display: flex;
    margin-top: 10px;
}

.popup__text::-webkit-input-placeholder, .popup__text::-moz-placeholder, .popup__text:-moz-placeholder, .popup__text:-ms-input-placeholder {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $mediumGray;
}

.popup__text {
    height: 50px;
    padding-left: 25px;
    font-family: 'Open Sans', 'Arial';;
}

.popup__text-comment {
    height: 118px;
}

.popup__button {
    width: 190px;
    height: 52px;
    margin-top: 35px;
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: white;
    border: none;
    background: $red;
    margin-left: auto;
    margin-right: auto;
}

.popup__title {
    font-family: 'Open Sans', 'Arial';;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.popup__button-close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 25px;
    border: none;
    background: $whiteSmoke;
    background-image: url('../../img/Esc.svg');
}

.popup__rating {
    display: flex;
    width: 167px;
    justify-content: space-between;
    margin-left: 14px;
}

.popup__star {
    display: block;
    width: 27px;
    height: 25px;
    background-image: url('../../img/Star.svg');
}

.popup__redstar {
    display: block;
    width: 27px;
    height: 25px;
    background-image: url('../../img/redStar.svg');
}

.visually-hidden {
    display: none;
}

.dignity-title, .limitation-title {
    position: relative;
}

.dignity-title::before {
    content: '';
    background-image: url('../../img/plus.svg');
    width: 8px;
    display: block;
    height: 8px;
    position: absolute;
    left: -15px;
    top: 9px;
}

.limitation-title::before {
    content: '';
    background-image: url('../../img/minus.svg');
    width: 7px;
    display: block;
    height: 2px;
    position: absolute;
    left: -15px;
    top: 9px;
}
