.main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
}

.main__conteiner {
    display: flex;
}

.conteiner__photo {
    position: relative;
    margin-top: 16px;
    height: 375px;
}

.conteiner__photo-text {
    width: 122px;
    display: flex;
    height: 30px;
    align-items: center;
    background-color: #D12136;
    justify-content: center;
    top: 0px;
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.conteiner__slider {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 37px;
    align-items: center;
}

.slider__button {
    width: 52px;
    height: 52px;
    border-radius: 30px;
    border: 1px solid #D7D9DF;
    background: white;
}

.container__info {
    margin-left: 57px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.info__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #48494D;
    margin: 0;
}

.info__list {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    margin-top: 21px;
    width: 285px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__icon-size {
    width: 40px;
    height: 40px;
}

.info__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #48494D;
}

.info__prise {
    margin-top: 36px;
}

.info__prise-new {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #48494D;
}

.info__prise-old {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #A3A4A6;
    position: relative;
}

.info__prise-old::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    border-top: 1px solid #A3A4A6;
    width: 92px;
    height: 0px;
    transform: rotate(176deg);
}

.info__buy {
    width: 196px;
    height: 52px;
    background: #D12136;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 38px;
}

.info__credit {
    border: 1px solid #D12136;
    box-sizing: border-box;
    background-color: white;
    width: 222px;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #D12136;
    margin-top: 16px;
}

.main__button {
    margin-top: 90px;
    margin-left: 6px;
}

.button-selected, .button-notselected {
    width: 195px;
    height: 50px;
}

.button-selected {
    border: none;
    background-color: #D12136;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.button-notselected {
    border: 1px solid #D7D9DF;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #48494D;
    background-color: white;
}

.main__fullinfo {
    padding-left: 0px;
    margin-left: 6px;
    list-style-type: none;
    max-width: 565px;
    display: flex;
    flex-direction: column;
}

.fullinfo__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D7D9DF;
    height: 50px;
}

.fullinfo__text {
    margin-top: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #48494D;
}

.main__reviews {
    position: relative;
}

.main__reviews-button {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 189px;
    height: 52px;
    border: 1px solid #D12136;
    background-color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #D12136;
}

.review__conteiner {
    padding-top: 30px;
    padding-left: 6px;
}

.review__conteiner-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #48494D;
}

.review__conteiner-dignity {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
}